Repository Baltazar1697/Image-Processing-Lambda-Lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate:prod, plan:prod, docker-build

validate:prod:
  variables:
    TF_ROOT: ${CI_PROJECT_DIR}/terraform/environments/${env}
    TF_STATE_NAME: ${env}
    TF_PLAN: plan.cache
    TF_PLAN_JSON: plan.json
    env: prod
  resource_group: ${TF_STATE_NAME}
  cache:
    key: ${TF_ROOT}
    paths:
    - ${TF_ROOT}/.terraform/
  before_script:
  - echo ${TF_ROOT}
  - cd ${TF_ROOT}
  ...

plan:prod:
  variables:
    TF_ROOT: ${CI_PROJECT_DIR}/terraform/environments/${env}
    TF_STATE_NAME: ${env}
    TF_PLAN: plan.cache
    TF_PLAN_JSON: plan.json
    env: prod
  resource_group: ${TF_STATE_NAME}
  cache:
    key: ${TF_ROOT}
    paths:
    - ${TF_ROOT}/.terraform/
  before_script:
  - echo ${TF_ROOT}
  - cd ${TF_ROOT}
  ...

docker-build:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  parallel:
    matrix:
    - LAMBDA_NAME: resize
    - LAMBDA_NAME: crop
    - LAMBDA_NAME: black-white
  before_script:
  - - apk add --no-cache aws-cli bash git
  ...

add manual trigger for pipeline
  .github/workflows/deploy.yml
Due: none

fix typo in pipeline
  .github/workflows/deploy.yml
Due: none

add additional trigger for pipelines
  .github/workflows/deploy.yml
Due: none

fix pipeline
  .github/workflows/deploy.yml
Due: none

fix typo
  .github/workflows/deploy.yml
Due: none

add aws configure credentials
  .github/workflows/deploy.yml
Due: none

update CI
  .github/workflows/deploy.yml
Due: none

update github actions pipeline
  .github/workflows/deploy.yml
Due: none

add .terraform folder to pass to apply job
  .github/workflows/deploy.yml
Due: none

update pipeline
  .github/workflows/deploy.yml
Due: none

update tf backend and deploy-yml
  .github/workflows/deploy.yml
  terraform/environments/prod/main.tf
  terraform/main.tf
Due: validate:prod, plan:prod

add credentials step before init
  .github/workflows/deploy.yml
Due: none

update state bucket location
  terraform/environments/prod/main.tf
Due: validate:prod, plan:prod

configure setting creds in appropriate point
  .github/workflows/deploy-infra.yml
Due: none

update infrastructure and pipelines commit lambdas
  .github/workflows/deploy-infra.yml
  .github/workflows/deploy-lambda.yml
  lambda/Dockerfile
  lambda/black-white/lambda_function.py
  lambda/crop/lambda_function.py
  lambda/requirements.txt
  lambda/resize/lambda_function.py
  terraform/environments/prod/main.tf
  terraform/modules/lambda/output.tf
Due: validate:prod, plan:prod, docker-build

simplify lambdas deployment
  .github/workflows/deploy-lambda.yml
Due: none

update lambdas
  lambda/black-white/lambda_function.py
  lambda/crop/lambda_function.py
  lambda/resize/lambda_function.py
Due: none

configure credentials for lambdas deployment
  .github/workflows/deploy-lambda.yml
Due: none

update lambda
  .github/workflows/deploy-lambda.yml
Due: none

fix typo
  .github/workflows/deploy-lambda.yml
Due: none

update path for docker build
  .github/workflows/deploy-lambda.yml
Due: none

update s3 events
  terraform/environments/prod/main.tf
Due: validate:prod, plan:prod

update entrypoint for lambdas
  lambda/Dockerfile
Due: docker-build

update terraform infrstructure add sns
  terraform/environments/prod/main.tf
  terraform/modules/lambda/main.tf
  terraform/modules/lambda/output.tf
  terraform/modules/lambda/variables.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/variables.tf
  terraform/modules/s3_event/main.tf
  terraform/modules/s3_event/variables.tf
  terraform/modules/sns/main.tf
  terraform/modules/sns/output.tf
  terraform/modules/sns/variables.tf
  terraform/modules/sns_subscription/main.tf
  terraform/modules/sns_subscription/variables.tf
Due: validate:prod, plan:prod

update infra
  terraform/environments/prod/main.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/output.tf
  terraform/modules/s3/variables.tf
  terraform/modules/sns/main.tf
  terraform/modules/sns/variables.tf
  terraform/modules/sns_subscription/main.tf
Due: validate:prod, plan:prod

add debug tools
  lambda/black-white/lambda_function.py
Due: none

update TF infra
  terraform/environments/prod/main.tf
  terraform/modules/lambda/main.tf
  terraform/modules/lambda/output.tf
  terraform/modules/s3_policy_attachment/main.tf
  terraform/modules/s3_policy_attachment/variables.tf
Due: validate:prod, plan:prod

fix typo
  terraform/environments/prod/main.tf
Due: validate:prod, plan:prod

update infrastructure with appropriate policies
  terraform/environments/prod/main.tf
  terraform/modules/lambda_access_policy/main.tf
  terraform/modules/lambda_access_policy/variables.tf
  terraform/modules/s3_access_policy/main.tf
  terraform/modules/s3_access_policy/output.tf
  terraform/modules/s3_access_policy/variables.tf
  terraform/modules/s3_policy_attachment/main.tf
  terraform/modules/s3_policy_attachment/variables.tf
Due: validate:prod, plan:prod

Path conditions:
  validate:prod: any of: terraform/environments/prod/**, modules/**
  plan:prod: any of: terraform/environments/prod/**, modules/**
  docker-build: any of: lambda/**
